* {
    font-family: 'Roboto', 'sans-serif';
}

header {
    background-color: #071228;
    color: white;
    font-size: 2vw;
    max-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

body {
    background-color: #162B49;
    margin: 0;
}

.content {
    background-color: #162B49;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
}

.content > h2 {
    font-size: 3vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.content > h3 {
    font-size: 1.5vw;
    margin-top: 0px;
    margin-bottom: 2vh;
}

.content > h4 {
    font-size: 1vw;
    margin-bottom: 2vh;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1vw;
    font-weight: bold;
}

.btn {
    height: 25vh;
    width: 12vw;
    background-color:#162B49;
    border-color: black;
    border-radius: 1px;
}

.btn > img {
    height: 20vh;
    width: 10vw;
}

.playing {
    transform: scale(1.1);
    border-color: #00ffff;
    box-shadow: 0 0 1rem #00ffff;
}

.enemy {
    transform: scale(1.1);
    border-color: #ff0000;
    box-shadow: 0 0 1rem #ff0000;
}

.tied {
    transform: scale(1.1);
    border-color: #ae00ff;
    box-shadow: 0 0 1rem #ae00ff;
}

#confirm {
    background-color: #3A73A8;
    color: white;
    font-weight: bolder;
    font-size: 1vw;
    margin-top: 4vh;
    height: 7vh;
    width: 7vw;
}

footer {
    background-color: #00699E;
    color: white;
    font-size: 0.8vw;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
