* {
    font-family: 'Roboto', 'sans-serif';
}

header {
    background-color: #071228;
    color: white;
    font-size: 4.5rem;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

body {
    background-color: #162B49;
    margin: 0;
}

.content {
    background-color: #162B49;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.8rem;
}

.content > h2 {
    font-size: 4.3rem;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
}

.content > h3 {
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 2rem;
}

.content > h4 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.btn {
    height: 25vh;
    width: 12vw;
    background-color:#162B49;
    border-color: black;
    border-radius: 1px;
}

.playing {
    transform: scale(1.1);
    border-color: #00ffff;
    box-shadow: 0 0 1rem #00ffff;
}

.enemy {
    transform: scale(1.1);
    border-color: #ff0000;
    box-shadow: 0 0 1rem #ff0000;
}

.tied {
    transform: scale(1.1);
    border-color: #ae00ff;
    box-shadow: 0 0 1rem #ae00ff;
}

#confirm {
    background-color: #3A73A8;
    color: white;
    font-weight: bolder;
    font-size: 1.3rem;
    margin-top: 4rem;
    height: 8vh;
    width: 8vw;
}

footer {
    background-color: #00699E;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
