* {
    font-family: 'Roboto', 'sans-serif';
}

header {
    background-color: #071228;
    color: white;
    font-size: 50px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header > h1 {
    flex-shrink: 0;
}

body {
    background-color: #162B49;
    margin: 0;
}

.content {
    background-color: #162B49;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.content > h2 {
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    flex-shrink: 0;
}

.content > h3 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.content > h4 {
    font-size: 24px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 2000px;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.btn {
    height: 250px;
    width: 250px;
    background-color:#162B49;
    border-color: black;
    border-radius: 1px;
}

.playing {
    transform: scale(1.1);
    border-color: #00ffff;
    box-shadow: 0 0 1rem #00ffff;
}

.enemy {
    transform: scale(1.1);
    border-color: #ff0000;
    box-shadow: 0 0 1rem #ff0000;
}

#confirm {
    background-color: #3A73A8;
    color: white;
    font-weight: bolder;
    font-size: 24px;
    margin-top: 50px;
    height: 80px;
    width: 150px;
}

footer {
    background-color: #00699E;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}